root {
  --clr-btn: hsl(200, 100%, 54%);
  --clr-bg: hsl(204, 21%, 16%);
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(black, white, grey);
  color: var(--clr-btn);
  padding-right: 10rem;
}
