.lobbyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.lobbyContainer button {
  margin-left: 0;
  position: relative;
}
.welcome {
  color: coral;
  text-shadow: 2px 2px 2px #000000;
  font-weight: bolder;
}
.PlayersContainer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  gap: 1em;
}
.players {
  border-style: ridge;
  padding: 10px;
  color: white;
  background-color: orange;
  border-radius: 25px;
  font-family: "kidGames";
}
.infoDiv {
  border-style: ridge;
  padding: 10px;
  background-color: bisque;
  border-radius: 25px;
  font-family: "kidGames";
}
