.cookieClicker-loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://samburke.files.wordpress.com/2011/08/ready-set-go-pic-001.png');
  background-position: center;
  background-size: cover;
  height: 800px;
}
.ready,
.set,
.go {
  font-size: 70px;
  color: white;
  visibility: hidden;
  padding: 25px;
  border-radius: 50%;
}
.ready {
  animation: mymove 2s;
  margin-top: 50px;
}
@keyframes mymove {
  from {
    visibility: hidden;
    text-shadow: 2px 2px 15px #000000;
  }
  to {
    visibility: visible;
    margin-left: 100px;
    background-image: url('http://www.nigella.com/assets/uploads/recipes/chocolate-chip-cookies-56388ed4575b0.jpg');
    background-position: center;
    background-size: cover;
  }
}
.set {
  animation: mymove2 2s;
  animation-delay: 2s;
  margin-top: 50px;
}
@keyframes mymove2 {
  from {
    font-size: 90px;
    visibility: hidden;
  }
  to {
    font-size: 90px;
    visibility: visible;
    margin-left: 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqHTnpzqY1mUn32uQue1PyBzDC69nOhkgmMkGy0Mj_XJSQqRRUnttENainHfB6RzZtSfU&usqp=CAU');
    background-position: center;
    background-size: cover;
  }
}
.go {
  animation: mymove3 2s;
  animation-delay: 4s;
  margin-top: 50px;
}
@keyframes mymove3 {
  from {
    font-size: 110px;
    visibility: hidden;
  }
  to {
    font-size: 110px;
    visibility: visible;
    margin-left: 100px;
    background-image: url('https://t3.ftcdn.net/jpg/02/19/32/48/360_F_219324829_hyEzNkzKJlQVlyARbPAz9j2REHTPIskq.jpg');
    background-position: center;
    background-size: cover;
  }
}
