.mainLobby-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gamesContainer {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}
.cookieClicker-mainLobby-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  box-shadow: 0px 0px 8px 8px white;
  margin: 5px;
  border-style: ridge;
  border-color: #0A1C44;
  background-image: url(https://media.istockphoto.com/vectors/seamless-background-with-cookies-vector-illustration-vector-id481893966?k=20&m=481893966&s=612x612&w=0&h=4jdnCccja5GRg662xzxAKGSDWHns5nciIo2k_HeA5Ag=);
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
}
.cookieClicker-mainLobby-container h2,
.cookieClicker-mainLobby-container h4 {
  color: #c41414;
  text-shadow: 2px 2px 2px #000000;
  font-weight: bolder;
}
.gameTwo-mainLobby-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  box-shadow: 0px 0px 8px 8px white;
  margin: 5px;
  border-style: ridge;
  border-color: #0A1C44;
  background-image: url(https://media.istockphoto.com/vectors/seamless-background-with-cookies-vector-illustration-vector-id481893966?k=20&m=481893966&s=612x612&w=0&h=4jdnCccja5GRg662xzxAKGSDWHns5nciIo2k_HeA5Ag=);
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/170/873/original/whack-a-mole-gopher-arcade-game-free-vector.jpg);
}
.gameTwo-mainLobby-container h2,
.gameTwo-mainLobby-container h4 {
  color: #c41414;
  text-shadow: 2px 2px 2px #000000;
  font-weight: bolder;
}
.mainLobby-players-container {
  border-style: ridge;
  border-color: #486BBD;
}
.single-lobby-player {
  border-style: ridge;
  padding: 10px;
  background-color: #1D397A;
  border-color: #0A1C44;
  color: white;
}
.main-lobby-player {
  border-style: ridge;
  border-color: #0A1C44;
  padding: 10px;
  color: white;
  background-color: #486BBD;
}
