.mainLobby-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mainLobby-container h1 {
  color: coral;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bolder;
  font-size: 56px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 50px;
}
.mainLobby-container h2 {
  color: white;
}
.gamesContainer {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.eachGame {
  background-color: #dbecfa;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.eachGame h2{
  color: black;
}

.eachGame .gameTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eachGame .gameTitle h2,
.eachGame .gameTitle h4 {
  font-family: sans-serif, serif;
}
.cookieClicker-mainLobby-container {
  width: 300px;
  height: 300px;
  background-image: url("../images/cookie\ background.jpg");
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}
.gameTwo-mainLobby-container {
  width: 300px;
  height: 300px;
  background-image: url("../images/cookie\ background.jpg");
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/170/873/original/whack-a-mole-gopher-arcade-game-free-vector.jpg);
}
.mainLobby-players-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  border: none;
  max-width: 900px;
  width: 100%;
  margin: 70px;
}
.mainLobby-players-container h4 {
  color: yellow;
  text-shadow: 2px 2px black;
}
.mainLobby-players-container .avatar {
  font-size: 2em;
  text-align: center;
}
.single-lobby-player {
  width: 130px;
  background-color: #8eb5f4;
  border-radius: 10px;
  padding: 10px;
  border: dimgray;
  box-shadow: 0 0 0.5em 0.5em whitesmoke;
  background-color: #1D397A;
  color: white;
  box-shadow: 0 0 0.7em 0 black;
}
.main-lobby-player {
  width: 130px;
  background-color: #8eb5f4;
  border-radius: 10px;
  padding: 10px;
  border: dimgray;
  box-shadow: 0 0 0.5em 0.5em whitesmoke;
}
.eachGame:hover {
  box-shadow: 0 0 0.5em 0.2em lightcoral;
}
.gameThree-mainLobby-container {
  width: 300px;
  height: 300px;
  background-image: url("../images/cookie\ background.jpg");
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  background-image: url("../images/memoryGame.png");
}
