@import './colors.less';

.mainLobby-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bolder;
    font-size: 56px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  h2{
    color: white;
    font-family: "kidGames";
    text-shadow: 2px 2px 2px #000000;
    font-weight: lighter;
    margin: 20px;
  }
}


.gamesContainer {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  box-shadow: 0 0 0.7em 0 black;
  border-radius: 20px;
  margin-bottom: 30px;
}

.eachGame {
  background-color: rgb(219, 236, 250);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  margin: 20px;
  h4 {
    color: @cookieLobbyFont;
    text-shadow: 2px 2px 2px #000000;
    font-family: "kidGames";
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
  }
  span {
    color: darkred;
    text-shadow: 2px 2px 2px #000000;
    font-family: "kidGames";
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
  }

  .gameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
      color: @cookieLobbyFont;
      text-shadow: 2px 2px 2px #000000;
      font-family: "kidGames";
      font-weight: lighter;
      font-size: 1.5em;
      text-align: center;
    }
    
  }
}


.cookieClicker-mainLobby-container {
  width: 150px;
  height: 150px;
  background-image: url("../images/cookie\ background.jpg");
  background-size: cover;
  border-radius: 20px;
  margin: 20px;
}

.gameTwo-mainLobby-container {
  .cookieClicker-mainLobby-container;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/170/873/original/whack-a-mole-gopher-arcade-game-free-vector.jpg);
}

.mainLobby-players-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 0 0.7em 0 black;
  border-radius: 20px;
  margin-bottom: 30px;
  max-height: 400px;
  h4{
    color: yellow;
    text-shadow: 2px 2px black;
  }
  .avatar{
    font-size: 2em;
    text-align: center;
  }
}

.single-lobby-player {
  .main-lobby-player;
  background-color: @mainLobbyPlayers;
  color: white;
  box-shadow: 0 0 0.7em 0 black;
}

.main-lobby-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(142, 181, 244);
  border-radius: 10px;
  padding: 10px;
  border: dimgray;
  box-shadow: 0 0 0.5em .5em whitesmoke;
  margin: 20px;
  width: 420px;
  h3{
    margin: 20px;
  }
}

.eachGame:hover {
  box-shadow: 0 0 0.5em .2em lightcoral;
}

.gameThree-mainLobby-container {
  .cookieClicker-mainLobby-container;
  background-image: url("../images/memoryGame.png");
}