@import './colors.less';

.breaker{
  font-family: 'kidGames';
  font-size: 1em;
  text-shadow: 3px 3px white;
  color: @cookieLobbyFont;
  margin:10px;
  -webkit-text-stroke: 2px rgb(62, 7, 129);
}

.welcome{
    font-family: "kidGames";
    text-shadow: 4px 4px black;
    font-weight: normal;
    color: white;
    margin: 10px;
}
.test{
  margin-left: 10px;
}

.mainLobby-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bolder;
    font-size: 56px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  h2 {
    color: white;
    font-family: "kidGames";
    text-shadow: 3px 3px 3px #000000;
    font-weight: lighter;
    margin: 20px;
  }
}


.gamesContainer {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 0 0.7em 0 black;
  border-radius: 20px;
  margin-bottom: 30px;
  background-image: linear-gradient(@cookiebg, @cookieLobbyBorders, @cookiebg);
}

.eachGame {
  background-color: rgb(219, 236, 250);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  margin: 20px;

  h4 {
    color: @cookieLobbyFont;
    text-shadow: 2px 2px 2px #000000;
    font-family: "kidGames";
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
  }

  span {
    color: darkred;
    text-shadow: 2px 2px 2px #000000;
    font-family: "kidGames";
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
  }

  .gameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: @cookieLobbyFont;
      text-shadow: 2px 2px 2px #000000;
      font-family: "kidGames";
      font-weight: lighter;
      font-size: 1.5em;
      text-align: center;
    }
    .veryHard{
      color: red;
      font-size: 20px;
    }
    .easy{
      color: yellow;
      font-size: 20px;
    }
    .medium{
      color: orange;
      font-size: 20px;
    }
    .hard{
      color: darkred;
      font-size: 20px;
    }
    .star{
      color: @cookieLobbyFont;
      font-size: 20px;
    }
  }
}


.cookieClicker-mainLobby-container {
  width: 150px;
  height: 150px;
  background-image: url("../images/cookie\ background.jpg");
  background-size: cover;
  border-radius: 20px;
  margin: 20px;
}

.gameTwo-mainLobby-container {
  .cookieClicker-mainLobby-container;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/170/873/original/whack-a-mole-gopher-arcade-game-free-vector.jpg);
}

.mainLobby-players-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: none;
  box-shadow: 0 0 0.7em 0 black;
  border-radius: 20px;
  margin-bottom: 30px;
  max-width: 910px;
  height: 400px;
  background-image: linear-gradient(@cookiebg, @cookieLobbyBorders, @cookiebg);

  h4 {
    color: yellow;
    text-shadow: 2px 2px black;
  }

  .avatar {
    font-size: 2em;
    text-align: center;
  }

  overflow-y: scroll;
  overflow-x: hidden;
}

.mainLobby-players-container::-webkit-scrollbar {
  display: none;
}

.single-lobby-player {
  .main-lobby-player;
  background-color: @mainLobbyPlayers;
  color: white;
  box-shadow: 0 0 0.7em 0 black;
  order: 2;
}

.main-lobby-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(142, 181, 244);
  border-radius: 10px;
  padding: 10px;
  border: dimgray;
  box-shadow: 0 0 0.5em .5em whitesmoke;
  margin: 20px;
  width: 410px;
  order: 1;

  h3 {
    margin: 20px;
  }
}

.eachGame:hover {
  box-shadow: 0 0 0.5em .1em black;
}

.gameThree-mainLobby-container {
  .cookieClicker-mainLobby-container;
  background-image: url("../images/memoryGame.png");
}

.gameFour-mainLobby-container {
  .cookieClicker-mainLobby-container;
  background-image: url("../images//slide\ puzzle\ pic.png");
}

@media only screen and (max-width: 750px) {
  .mainLobby-container {
    .test {
      font-size: 45px;
    }
  }

  .mainLobby-players-container {
    font-size: 9px;
    height: 200px;
  }

  .main-lobby-player {
    width: 180px;
    display: flex;
    margin: 7px;
    padding: 7px;

    h3 {
      margin: 7px;
    }
  }

  .single-lobby-player {
    .main-lobby-player
  }

  .cookieClicker-mainLobby-container {
    height: 80px;
    width: 80px;
    border-radius: 1px;

    .join-button {
      font-size: 10px;
    }

    h2 {
      margin: 5px;
    }
  }

  .gameThree-mainLobby-container {
    .cookieClicker-mainLobby-container
  }

  .gameTwo-mainLobby-container {
    .cookieClicker-mainLobby-container
  }
}