
.navBar {
    margin:0;
    display:flex;
    justify-content: space-between;
    background-color: #486BBD;

    .logo {
        // margin-left: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:5px;
        flex-direction: row;
        span {
            font-family: 'surfQuestTidal';
            font-size: 4em;
            text-shadow: 1px 1px lightgrey;
        }
    }
    img {
        height:90px;
        width:140px;
        border-radius: 50px;
    }

    .nav-right {
        display:flex;
        justify-content: space-around;
        align-items: center;
        gap:30px;
        margin-right: 30px;

        span{
            text-decoration: none;
            font-size: 2em;
            font-family:"surfQuest";
            color:black;
            text-shadow: 1px 1px grey; 
        }

        .nav-link {
            text-decoration: none;
            font-size: 2.5em;
            font-family:"surfQuest";
            color:white;
            text-shadow: 1px 1px grey;
        }
        span {
            font-family: fantasy;
            font-size:24px;
            color:white;
        }

    }
}

.footer {
    background-color: #486BBD;
    // padding:5px;
    display:flex;
    justify-content: space-around;
    width:100vw;
    position:absolute;
    color:white;

    .footer-github{
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .navBar {
        display:flex;
        flex-wrap: wrap;
    }

}
