.profile {
    margin:auto;
    width:400px;
    text-align: start;
    padding:20px;
    h2 {
        font-weight: bold;
        margin-top: 40px;
        color:rgb(251, 237, 237);
    }
}

.editProfile {
    background-color: rgb(142, 181, 244);
    width:400px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding:50px;

    .form-title {
        font-size: 20px;
        font-weight: bold;
        margin:auto;
        text-align: center;
    }

    form {
        display:flex;
        flex-direction:column;
        justify-content: right;
        gap:20px;
        margin-top: 30px;
    }

    .form-item {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:10px;
        
        input {
            height:40px;
            border-radius: 5px;
        }
    }
}