*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: red
}

@import "./cookie.less";
@import './signuplogin.less';
@import './buttons.less';
@import './cookieLobby.less';
@import './mainLobby.less';
@import './loadingPage.less';
@import './winnerPage.less';


// .mainLobby-players-container {
//   border-style: ridge;
// }

// .single-lobby-player {
//   border-style: ridge;
//   padding: 10px;
//   background-color: bisque;
// }



