*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



h1 {
  color: red
}

@import './colors.less';
@import './fonts.less';

@import "./cookie.less";
@import './buttons.less';
@import './signuplogin.less';
@import './cookieLobby.less';
@import './mainLobby.less';
@import './loadingPage.less';
@import './winnerPage.less';
@import './nav-footer.less';
@import './whackAMole.less';
@import './profile.less';
@import './chart.less';
@import './memory.less';
@import './slideGame.less';
@import './chatRoom.less';

body {
  // height: 100vh;
  height: 100%;
  width: 100vw;
  display: grid;
  place-items: center;
  background-image: linear-gradient(@cookieLobbyBorders, @cookiebg, @cookieLobbyBorders);
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(@cookieLobbyBorders, @cookiebg, @cookieLobbyBorders);
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: center;
    font-family: "kidGames";
    font-size: 4em;
    text-shadow: 4px 4px black;
    text-align: center;
    font-weight: normal;
  }
}