#whack-a-mole {
    background-color: @mainLobbyUser;
    border: solid 20px @mainLobbyBorders;
    padding: 20px;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    cursor: url("../images/whackAMole/hammer.png"), auto;
    border-radius: 10px;
    box-shadow: 0 0 0.7em 0 black;
}
#whack-a-mole:active {
    cursor: url("../images/whackAMole/hammer\ slam.png"), auto;
}

.hole {
    background-image: url("https://i.ebayimg.com/images/g/UVAAAOSwQLhjTNc~/s-l500.png");
    background-size: contain;
    width: 110px;
    height: 123px;
    margin: 5px;
}

.mole {
    background-image: url("../images/whackAMole/mole.jpg");
  }

.hit{
    background-image: url("../images/whackAMole/angry\ mole.jpg");
}

@media screen and (max-width: 700px) {
    #whack-a-mole {
        width: 380px;
    }
    .hole{
        width: 90px;
        height: 103px;
    }
}